<html>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Input your message">
        <input type="text" name="tag" placeholder="Tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Input</button>
    </form>
</div>

<div>
    <form method="post" action="filter">
        <input type="text" name="tag" placeholder="Input message tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Input</button>
    </form>
</div>

<div>
    <form method="get">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Get all messages</button>
    </form>
</div>

<div> List of messages </div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}

<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>